.footer {
    width: 100%;
    min-height: 80px;
    background-color: var(--color-bg-container);
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    color: var(--color-text);
}

.footer__contacts {
    margin-bottom: 8px;
    font-size: 17px;
}

.footer__copy {
    font-weight: bold;
    color: var(--color-title);
}
